<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<!-- Responsive navbar-->
<%- include header.ejs %>
<!-- Page content
show the blog posts-->
<div class="container mt-5">
    <div class="row">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1"><%= title %></h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">Posted by <%= title %></div>
            </header>
            <!-- Preview image figure-->
            <figure class="mb-4"><img class="img-fluid rounded" src="/files/<%= page.id %>"
                                      alt="..."/></figure>
            <!-- Post content-->
            <section class="mb-5">
                <p class="fs-3 mb-4"><%= page.body %></p>
            </section>
        </article>
        <!-- Comments section-->
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <!-- Comment form-->
                    <form class="mb-4" action="/comment" method="post">
                        <input type="hidden" name="page_id" value="<%= page.id %>">
                        <textarea class="form-control" rows="3" name="comment"
                                                 placeholder="Join the discussion and leave a comment!"></textarea>
                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-primary text-uppercase" type="submit">Post comment</button>
                        </div>
                    </form>
                    <!-- Single comment-->
                    <% for (let i = 0; i < comments.length; i++) { %>
                    <div class="d-flex">
                        <div class="flex-shrink-0"><img class="rounded-circle"
                                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/>
                        </div>
                        <div class="ms-3">
                            <div class="fw-bold"><%= comments[i].username%></div>
                            <%= comments[i].content%>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
    </div>
    <!-- Side widgets-->
</div>
<%- include footer.ejs %>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</html>
